.App {
  text-align: center;
}

.jumbotron {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url('./background.jpg');
  background-size: cover;
  color: white;
}

.jumbotron button {
  margin-top: 10px;
  margin-bottom: 10px;
}
